extends layout

block content
  h1= title
  p Welcome to #{title}
  table(style='width:100%', border='1')
    tr
      th Name
      th Live Age
    tr
    each data in list
      td= data.name
      td= data.live_age