<!DOCTYPE html>
<html>

<head>
  <title>Edit Industry</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div class="container">
    <h3><a href="/industry">Industry List</a></h3>
    <h1>Edit industry</h1>
    <form action="/industry/update/<%= industry._id%>" method="post">
      <table>
        <tbody>
          <tr>
            <td>Industry Name</td>
            <td><input type="text" name="name" value="<%= industry.name %>" /></td>
          </tr>
          <tr>
            <td>Live Age</td>
            <td><textarea name="live_age"><%= industry.live_age %></textarea></td>
          </tr>

          <tr>
            <td colspan="2"><button type="submit">Update</button></td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
</body>

</html>