doctype html
html
	head
		title=name
	body
		
		h1 The First script with loading of template engining.
		<!-- This is first template comment -->
		
		p.greetings#guys Hey ExpressJs DEV.
		<!-- Dot Shows Class(greetings) and Hash Shows Id(guys) like our CSS -->


		#message Succesfully loaded the first script view.
		<!-- Hash Shows Id(message) -->

		div.container.column.main#division(width="100",height="200")
		p This is inside div

		div 
			| Heyyyy
		div.
			Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

		a(href = url) ExpressJs

		p(style='white-space:pre;') This
		p(style='white-space:pre;') Is
		p(style='white-space:pre;') A
		p(style='white-space:pre;') Line 
		p(style='white-space:pre;') Break

		p 
		|Hey User</br>
		|This is another line break

		<!-- If ommit | then first work getting not display And if while applying class or id add properly neither first word consists as class or id to same. -->


		if(age > 18)
			h3 hey hi Man
		else
			h3 Hey Child