html
   head
      title PUG Template template
   body
      include ./pug_header.pug
      h3 I'm the main content
      p
      | Here We have loaded or included header and footer files.
      p

      include ./pug_footer.pug



      

      // Belongs From pug_custom_temp.js