html
	head
		title="Serv"
	body
		h3 Test Of Serving Static Files
		p!=" The Image Path Passed for location is : "+imgPath
		img(src ='/public_express_js/Avtar.png',alt='User Avtar Image File Is Here')